@import 'variables';
@import 'mixins';

.container {
  margin: 0 auto;

  @include screen-phone {
    padding: 0 $spacing-2;
  }

  @include screen-tablet {
    padding: 0 $spacing-4;
  }

  @include screen-desktop {
    padding: 0 93px;
  }

  @include screen-desktop-l {
    padding: 0 93px;
    max-width: $breakpoint-xl;
  }
}

.main {
  margin-top: 40px;
}

.footer {
  margin: 96px 0 32px 0;
  @include screen-phone {
    margin-top: 50px;
  }
}
